<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=product.name%></title>
</head>
<body>
    <h1><%=product.name%></h1>
    <img src="<%=product.img%>" alt="">
    <p class="price">Price: <%=product.price%></p> <br>
    <p class="qty">Quantity: <%=product.qty%></p>
    <a href="/products">Return to Index</a>
    <a href="/products/<%=product.id%>/edit">Edit Product</a>
    <!-- going to try to add the buy button here. think an if statement should do the trick to add the button -->
    <% if (product.qty > 0) { %>
        <button>BUY</button>
   <% } else { %>
    <p> This item is out of stock. </p>
   <% } %>
</body>
</html>

<!-- grave yard // had a few different ideas for changing the qty, but could not quite get the buy button to work

<% let button = document.getElementById("buy") 
        button.addEventListener("click" , function(evt){
            product.qty = ${product.qty - 1}
        }) %> --> 

        <!-- const btn = document.createElement("button")
        btn.setAttribute("id" , "buy")
        btn.innerText("BUY") -->